.wrapper {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  gap: 60px;
  padding: 30px;
  justify-content: center;
}

/* Input */

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

label {
  font-size: 1.1rem;
  font-weight: 500;
}

input {
  font-size: .9rem;
  line-height: 2.5rem;
  border: none;
  outline: none;
  padding-left: 8px;
  border-radius: 8px;
  background-color: var(--main-bg-color);
}

.text-area {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

textarea {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 8px;
  background-color: var(--main-bg-color);
  font-size: .9rem;
  resize: vertical;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 4px #8B20EF;
}

.education h1,
.work h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.compressed {
  background-color: var(--main-bg-color);
  border-radius: 8px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.compressed h2 {
  font-size: 1.3rem;
}

.compressed ul {
  display: flex;
  gap: 15px;
}

.general,
.work,
.education {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
}

.input-sections {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30vw;
}

form button {
  width: 150px;
  height: 50px;
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: #008cff;
  color: white;
  font-weight: bold;
  align-self: center;
}

button:hover,
.compressed ul li:hover {
  cursor: pointer;
}

/* Display */

.display {
  width: 42vw;
  height: calc(100vh - 60px);
  flex-shrink: 0;
  background-color: white;
  /* padding: 15px; */
  box-shadow: 0 0 5px #c4c4c5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header {
  height: 20%;
  padding: 15px;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15%;
  color: white;
}

header h1 {
  font-size: 2.2rem;
}

header ul li {
  font-size: 1.1rem;
}

header .phone,
header .address {
  flex-shrink: 0;
}

header ul {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: max(20px, 10%);
}

.work-display h2,
.edu-display h2 {
  background-color: var(--accent-color);
  text-align: center;
  padding: 5px 0;
  width: 80%;
  margin: 0 auto 20px auto;
  color: white;
}

.work-block,
.education-block {
  width: 80%;
  margin: 0 auto;
}

.work-block ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 3px;
  grid-template-areas: 
    "company dates"
    "position location";
  margin: 10px 0;
}

.work-block .company {
  grid-area: company;
  font-weight: bold;
}

.work-block .position {
  grid-area: position;
  font-style: italic;
}

.work-block .dates,
.education-block .dates {
  grid-area: dates;
  display: block;
  justify-self: end;
}

.work-block .location,
.education-block .location {
  grid-area: location;
  font-style: italic;
  justify-self: end;
}

.work-block .description {
  margin: 0 10px;
}

.education-block ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 3px;
  grid-template-areas: 
    "school dates"
    "degree location";
  margin: 10px 0;
}

.education-block .school {
  grid-area: school;
  font-weight: bold;
}

.education-block .degree {
  grid-area: degree;
  font-style: italic;
}