.wrapper {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  gap: 60px;
  padding: 30px;
  justify-content: center;
}

/* Input */

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

label {
  font-size: 1.1rem;
  font-weight: 500;
}

input {
  margin-bottom: 8px;
  font-size: .9rem;
  line-height: 2.5rem;
  border: none;
  outline: none;
  padding-left: 8px;
  border-radius: 8px;
  background-color: var(--main-bg-color);
}

.text-area {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

textarea {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 8px;
  background-color: var(--main-bg-color);
  font-size: .9rem;
  resize: vertical;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 4px #8B20EF;
}

form h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.general,
.work,
.education {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
}

.input-sections {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30vw;
}

/* Display */

.display {
  width: 42vw;
  height: calc(100vh - 60px);
  flex-shrink: 0;
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 5px #c4c4c5;
}